
/**
* this is "SuscribeNewsletter.twig" stylesheet
* follow workflow instructions
*/

// -----------------------------------------------------------------------------  IMPORT

// common styles & mixins
@import '../../../_common/common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.SuscribeNewsletter
{
	// IMPORTANT : composant mobile first
	// --------------------------------------------------------------------------- PROPERTIES

	// Call block element anywhere, ex: #{$this}_element
	$this: SuscribeNewsletter;
	$inputHeight: 40px;

	// --------------------------------------------------------------------------- BLOCK

	// --------------------------------------------------------------------------- ELEMENTS

	&_wrapper
	{
		@include flex(flex,row,nowrap,flex-start,center);
	}

	&_input
	{
		// position
		position: relative;
		display: block;
		@include size(80%, $inputHeight);
		max-width: 250px;
		// style
		color: $whiteColor;
		border:1px solid $grey226Color;
		background:none;

		// style du texte placeholder dans le input
		&::-webkit-input-placeholder
		{
			text-align: center;
			font-size: initial;
			color: $whiteColor;
		}
	}

	&_button
	{
		// reset
		@include resetButtonStyle();

		position: relative;
		// position
		margin-left: 0.5rem;
		@include size($inputHeight, $inputHeight);

		// style
		background: transparent;
		border:1px solid $grey226Color;
		transition: 200ms ease-in-out;

		@media (min-width: $large)
		{
			@include size($inputHeight, $inputHeight);
			border:1px solid $grey226Color;
		}

		&:after
		{
			content:'';
			@include absoluteCenter();
			@include triangle("right", $inputHeight / 3, $inputHeight / 3, $grey226Color);

		}

		&:hover
		{
			background: $grey226Color;

			&:after
			{
				content:'';
				@include triangle("right", $inputHeight / 3, $inputHeight / 3, $grey77Color);
			}
		}

	}

	// --------------------------------------------------------------------------- MODIFIERS

	// --------------------------------------------------------------------------- CHILDREN

	// --------------------------------------------------------------------------- PATCHES

}



