{#
 * @title: "AdherentSection" TWIG view component
 * @description:
 #}

<div class="AdherentSection {{ classElement }}">
    <div class="AdherentSection_content">

        {# importer "adherent Block" #}
        {% include "templates/components/AdherentBlock.twig"
            with {
            classElement: 'AdherentSection_adherentBlock',
            blockModifier: 'adherent',
            title: {
                verb: dico.components.AdherentBlock.adherent.verb,
                calificatif: post.meta('adherents_blocks').adhesion.title,
            },
            description: post.meta('adherents_blocks').adhesion.description,
            text: post.meta('adherents_blocks').adhesion.text,
            price: post.meta('adherents_blocks').adhesion.price,
            labelPrice: dico.components.AdherentBlock.adherent.price.labelPrice
        } %}

        <div class="AdherentSection_inlineWrapper">
            {# importer "adherent Block" #}
            {% include "templates/components/AdherentBlock.twig"
                with {
                classElement: 'AdherentSection_adherentBlock',
                blockModifier: 'fixe',
                title: {
                    verb: dico.components.AdherentBlock.fixe.verb,
                    calificatif: post.meta('adherents_blocks').fixe.title,
                },
                description: post.meta('adherents_blocks').fixe.description,
                text: post.meta('adherents_blocks').fixe.text,
                price: post.meta('adherents_blocks').fixe.price,
                labelPrice: dico.components.AdherentBlock.fixe.price.labelPrice,
                note: post.meta('adherents_blocks').fixe.note
            } %}

            {# importer "adherent Block" #}
            {% include "templates/components/AdherentBlock.twig"
                with {
                classElement: 'AdherentSection_adherentBlock',
                blockModifier: 'nomade',
                title: {
                    verb: dico.components.AdherentBlock.nomade.verb,
                    calificatif: post.meta('adherents_blocks').nomade.title,
                },
                description: post.meta('adherents_blocks').nomade.description,
                text: post.meta('adherents_blocks').nomade.text,
                price: post.meta('adherents_blocks').nomade.price,
                labelPrice: dico.components.AdherentBlock.nomade.price.labelPrice,
                note: post.meta('adherents_blocks').nomade.note
            } %}
        </div>
    </div>
</div>
