{#
 * @title: "FeaturesSection" TWIG view component
 * @description:
 #}

<div class="FeaturesSection {{ classElement }}">
    <div class="FeaturesSection_wrapper">
        <section class="FeaturesSection_content">

            {% for feature in dico.components.FeatureBlock %}
                {# importer "feature block component #}
                {% include "templates/components/FeatureBlock.twig"
                    with {
                    classElement: 'FeaturesSection_featureBlock',
                    icon: feature.icon,
                    description: feature.description
                } %}
            {% endfor %}
        </section>
    </div>
</div>
