/**
  * "SocialBlock" stylesheet
  * follow workflow instructions
 */
// -----------------------------------------------------------------------------  IMPORT
// common style & mixins
@import '../../common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.SocialBlock {
  // --------------------------------------------------------------------------- PROPERTIES

  // Call block element anywhere. Use it like this : .#{$this}_element
  $this: SocialBlock;

  // --------------------------------------------------------------------------- BLOCK

  // --------------------------------------------------------------------------- ELEMENTS

  &_items {
    list-style: none;
    position: relative;
    @include flex(flex, row, wrap, center, center);
    @media (max-width: $large) {
      width: 6.5rem;
      margin: auto;
    }
  }

  &_item {
    position: relative;
    height: $mainBorder;
    @include sepNavItem();

    &:not(:last-child) {
      margin-right: 0.75rem;
    }

    @media (max-width: $large) {
      // reset
      border-right: 0;
    }
  }

  &_link {
    @include flex(flex, row, wrap, center, center);
    @include size(100%);
    cursor: pointer;
    // cercle autour de l'icon
    //&:after {
    //  content: '';
    //  @include absoluteCenter();
    //  @include size(28px);
    //  border-radius: 4rem;
    //  border: 1px solid $turqoiseColor;
    //}

    &:hover {
      .#{$this}_icon * {
        fill: $turqoiseColor;
      }
    }
  }

  &_innerLink {
    position: relative;

    &-facebook {
      top: 0;
      @media (max-width: $large) {
        top: 3px;
      }

      & svg {
        @include size(19px);
        @media (max-width: $large) {
          @include size(26px);
        }
      }
    }

    &-twitter {
      top: 1.5px;
      @media (max-width: $large) {
        top: 6px;
      }

      & svg {
        @include size(16.5px);
        @media (max-width: $large) {
          @include size(26px);
        }
      }
    }

    & * {
      // couleur appliquée sur tous les élements enfants
      fill: $grey77Color;
    }
  }

  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES
}
