
# ------------------------------------------------------------------------------ SRC

# aurogenerate atoms.ts
src/atoms/atoms.ts

# env properties
.env

# ------------------------------------------------------------------------------ DIST

# compiled asset from webpack
dist/user/themes/adm/assets

# grav cms vendor
dist/vendor/*
dist/user/plugins/**/vendor/*

# grav cms
dist/backup/*
!dist/backup/.gitkeep
dist/cache/*
!dist/cache/.gitkeep
dist/logs/*
!dist/logs/.gitkeep
dist/tmp/*
!dist/tmp/.gitkeep
dist/images/*
!dist/images/.gitkeep
dist/user/config/security.yaml

# ------------------------------------------------------------------------------ OTHERS

.DS_Store
.idea/
.cache/
*.log
node_modules/


