/**
  * "ActivityFilterBar" stylesheet
  * follow workflow instructions
 */
// -----------------------------------------------------------------------------  IMPORT
// common style & mixins
@import '../../common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.ActivityFilterBar {
  // --------------------------------------------------------------------------- PROPERTIES

  // Call block element anywhere. Use it like this : .#{$this}_element
  $this: ActivityFilterBar;

  // --------------------------------------------------------------------------- BLOCK

  background: $whiteColor;
  padding: 3rem 0;

  // --------------------------------------------------------------------------- ELEMENTS

  &_items {
    @include flex (flex, row, wrap, center, flex-start);
    list-style: none;


    @media(max-width: $medium) {
      width: ($columnWidth * 11);
      margin: auto;
    }
  }

  &_item {
    margin: 0 0.25em;
    @media(max-width: $medium) {
      margin: 0 0.25em;
    }
  }

  &_link {
    text-decoration: none;
    color: $blackColor;
    line-height: 3.2em;

    padding: 0.75em 1em;
    border-radius: 2em;
    background-color: #EEE;

    &:hover {
      background-color: #DDD;
    }

  }

  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES

}



