/**
  * "IntranetConnection" stylesheet
  * follow workflow instructions
 */
// -----------------------------------------------------------------------------  IMPORT
// common style & mixins
@import '../../common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.IntranetConnection {
  // --------------------------------------------------------------------------- PROPERTIES

  // Call block element anywhere. Use it like this : .#{$this}_element
  $this: IntranetConnection;
  $inputHeight: 40px;

  // --------------------------------------------------------------------------- BLOCK

  #{$all-text-inputs} {
    background: transparent;
  }

  // --------------------------------------------------------------------------- ELEMENTS

  &_wrapper {
    display: flex;
    align-items: center;
    @include size(auto, $mainBorder);

    @media (max-width: $large) {
      margin-top: 2rem;
      display: block;
      @include size(auto, auto);
    }
  }

  // INTRANET
  &_title {
    @include title-smallUppercase($grey77Color);
    @include lato-bold();

    @media (max-width: $large) {
      text-align: center;
    }
  }

  &_form {
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;

    @media (max-width: $large) {
      display: block;
      text-align: center;
      margin-left: 0; // reset
    }
  }

  &_input {
    position: relative;
    margin: 0;
    @include size(190px, $inputHeight);
    color: $whiteColor;
    padding: 0 10px;
    border: 1px solid $grey226Color;
    line-height: 22px;

    @media (max-width: $large) {
      display: block;
      margin: auto;
      @include size(100%, $inputHeight * 2);
      max-width: 250px;
    }

    // style du texte placeholder dans le input
    &::-webkit-input-placeholder {
      text-align: center;
      @include title-smallUppercase($grey144Color);
      font-size: 0.75rem;

      @media (max-width: $large) {
        @include title-smallUppercase($grey226Color);
      }
    }

    // traitement du dernier input de la liste
    &:last-child {
      // décaller d'un px vers la gauche pour que le border left se fonde dans
      // le border right de l'input précédent
      margin-left: -1px;

      @media (max-width: $large) {
        margin: 1rem auto 0;
      }
    }
  }

  // le button de validation du formulaire
  &_button {
    margin-left: 0.5rem;
    border: 0;
    outline: none;
    cursor: pointer;
    @include size(30px, $inputHeight);
    @include title-smallUppercase($grey144Color);
    @include lato-regular();
    font-size: 0.7rem;
    background: none;

    @media (max-width: $large) {
      display: block;
      margin: 1rem auto 0;
    }

    &:hover {
      color: $turqoiseColor;
    }
  }

  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES
}
