
/**
  * @Filename: pageGrid
  * @Description: mixin for this project
*/

@import "../atoms/properties";
@import "~bourbon/core/bourbon";

// ----------------------------------------------------------------------------- MIXIN

/**
 * container principal
 * permetant les marges blanches de chaque côté des pages
 */
@mixin mainColumnWidthCenter()
{
    @include size(100vw - ($mainBorder * 2), auto );
    @include margin(null auto);

    // mobile
    @media (max-width: $large)
    {
        @include size(100%, auto);
    }
}


/**
 * la column de text et contenu qui ne dépassera jamais 960px
 */
@mixin contentColumnWidthCenter()
{
    // laptop
    width: ($columnWidth * 8);
    max-width: 960px;
    margin: auto;

    // mobile
    @media (max-width: $large)
    {
        width: ($columnWidth * 10);
    }

}

