/**
  * @Filename: colors
  * @Description: colors of this react-main
  * 
*/

//------------------------------------------------------------------------  COLOR

$color1 : 		#ffffff;
$color2 : 		#000000;

//------------------------------------------------------------------------------  ELEMENTS

$colorEl1 : 		#ffffff;
$colorEl2 : 		#000000;

