/**
  * "SocialBlock" stylesheet
  * follow workflow instructions
 */

// -----------------------------------------------------------------------------  IMPORT

// common style & mixins
@import '../../../_common/common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.SocialBlock
{
  // --------------------------------------------------------------------------- PROPERTIES

  // Call block element anywhere. Use it like this : .#{$this}_element
  $this : SocialBlock;

  // --------------------------------------------------------------------------- BLOCK

  // --------------------------------------------------------------------------- ELEMENTS

  &_items
  {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;

    @media screen and (max-width: $large) {
      width: 6.5rem;
      margin: auto;
    }
  }

  &_item
  {
    position: relative;
    @include size((6.5rem / 1.5), $mainBorder);
    border-right: 1px solid $colorNavBarLine;

    @media screen and (max-width: $large) {
      //@include size(5rem, $mainNavHeight);
      border-right: 0; // reset
    }
  }

  &_link
  {
    cursor: pointer;

    // cercle autour de l'icon
    &:after {
      content: '';
      @include absoluteCenter();
      @include size(28px);
      border-radius: 4rem;
      //border: 1px solid $color4;
    }

    &:hover
    {
      .#{$this}_icon *
      {
        fill: $color2;
      }
    }
  }

  &_icon
  {

    @include absoluteCenter();

    &-facebook
    {
      // ajustement du positionnement de l'icon
      margin: 1px 0 0 -2px;
      @media screen and (max-width: $large)
      {
        margin: 1px 0 0 4px;
      }

      & > svg
      {
        @include size(19px);
        @media screen and (max-width: $large)
        {
          @include size(26px);
        }

      }
    }

    &-twitter
    {
      // ajustement du positionnement de l'icon
      margin: 1px 0 0 0;
      @media screen and (max-width: $large)
      {
        margin: 4px 0 0 -7px;
      }

      & > svg
      {
        @include size(14px);
        @media screen and (max-width: $large)
        {
          @include size(24px);
        }

      }
    }

    & *
    {
      // couleur appliquée sur tous les élements enfants
      fill: $color3;

      &:hover
      {

      }
    }

  }



  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES

}



