/**
  * "Menu" stylesheet
  * follow workflow instructions
 */

// -----------------------------------------------------------------------------  IMPORT

// common style & mixins
@import '../../../_common/common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.Menu
{
  // --------------------------------------------------------------------------- PROPERTIES


    // Call block element anywhere. Use it like this : .#{$this}_element
    $this : Menu;

  // --------------------------------------------------------------------------- BLOCK

  // position

  // style
  @include title-smallUppercase();
  @media (max-width: $large)
  {
    font-size: 1.5rem;
  }

  // --------------------------------------------------------------------------- ELEMENTS

  &_items
  {
    // position
    position: relative;
    @include size(100%, $mainBorder);
    display: flex;
    align-items: center;
    justify-content: center;
    // style
    // ...
    list-style: none;

    @media (max-width: $large) {
      display: block;
      @include size(100%, auto);
    }
    
  }

  &_item
  {

    // position
    position: relative;
    @include size(100%, $mainBorder);
    padding: 0 3.2rem;

    // style
    border-right: 1px solid $colorNavBarLine;

    @media (max-width: $large) {
      border-right: 0;
      padding: 1.5rem 3.2rem;
    }
  }

  &_link
  {
    // style reset
    border: 0;
    text-decoration: none;
    // position
    @include absoluteCenter();
    color: $grey77Color;
    @include lato-bold();

    &:hover
    {
      color: $turqoiseColor;
    }

  }

  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES

}



