
/**
* this is "ArrowDown" stylesheet
* follow workflow instructions
*/

// -----------------------------------------------------------------------------  IMPORT

// common styles & mixins
@import '../../../_common/common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.ArrowDown
{

	// --------------------------------------------------------------------------- PROPERTIES

	// Call block element anywhere, ex: #{$this}_element
	$this: ArrowDown;

	@keyframes toggle {
		0% { margin-bottom:0 }
		50% { margin-bottom: 6px }
		100% { margin-bottom:0 }
	}

	// --------------------------------------------------------------------------- BLOCK

	// positionné depuis le parent

	// --------------------------------------------------------------------------- ELEMENTS

	&_icon
	{
		@include position(relative, 50% null null 50%);
		@include size(20px);
		border-left: 3px solid $turqoiseColor;
		border-bottom: 3px solid $turqoiseColor;
		transform: translate(-50%, -50%) rotate(-45deg);
		animation: toggle 2s ease-in-out infinite;
	}

	// --------------------------------------------------------------------------- MODIFIERS

	// --------------------------------------------------------------------------- CHILDREN

	// --------------------------------------------------------------------------- PATCHES

}



