/**
  * @Filename: colors
  * @Description: colors of this react-main
  *
*/

//------------------------------------------------------------------------------  BASIC

$whiteColor: #ffffff;
$blackColor: #000000;
// bleu vert
$turqoiseColor: #84CBD5;
// vert pomme 1
$appleGreenColor: #CDD244;
// vert pomme 2
$appleGreen2Color: #CDD244;
// black overlay
$blackOverlayColor: rgba(0,0,0,0.6);
// gris clair
$grey226Color: #e2e2e2;
// gris medium clair
$grey144Color: #908C8A;
// gris foncé
$grey77Color: #4D4D4D;
$grey40Color: #2B2B2B;

//------------------------------------------------------------------------------  ELEMENTS

$colorEl1: #ffffff;
$colorEl2: #000000;
// line de sep
$colorNavBarLine: rgba(0,0,0,0.05);
