/**
  * @Filename: colors
  * @Description: colors of this react-main
  *
*/

//------------------------------------------------------------------------------  BASIC

$whiteColor: #ffffff;
$blackColor: #000000;
// bleu vert
$turqoiseColor: #84cbd5;
// vert pomme 1
$appleGreenColor: #cdd244;
// vert pomme 2
$appleGreen2Color: #cdd244;
// black overlay
$blackOverlayColor: rgba(0, 0, 0, 0.6);
// gris clair
$grey226Color: #e2e2e2;
// gris medium clair
$grey144Color: #908c8a;
// gris foncé
$grey77Color: #4d4d4d;
$grey40Color: #2b2b2b;

//------------------------------------------------------------------------------  ELEMENTS

$colorEl1: #ffffff;
$colorEl2: #000000;
// line de sep
$colorNavBarLine: rgba(0, 0, 0, 0.05);
