/**
  * "LanguageBlock" stylesheet
  * follow workflow instructions
 */

// -----------------------------------------------------------------------------  IMPORT

// common style & mixins
@import '../../../_common/common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.LanguageBlock
{
  // --------------------------------------------------------------------------- PROPERTIES

    // Call block element anywhere. Use it like this : .#{$this}_element
    $this : LanguageBlock;

  // --------------------------------------------------------------------------- BLOCK

  @include size( ($relativeColumnWidth * 1) , auto );

  @media screen and (max-width: $large) {
    @include size( auto , auto );
  }

  // --------------------------------------------------------------------------- ELEMENTS

  &_items
  {
    // position
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 1.5rem;

    // style
    list-style: none;
  }

  &_item
  {
    &:last-child
    {
      margin-left: 0.8rem;
    }
  }

  &_link
  {
    // style
    @include title-smallUppercase($color9);
    @include lato-bold();
    @media screen and (max-width: $large) {
     font-size: 1rem;
    }


    &-active
    {
      color: $color3;
    }

  }
  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES

}



