/**
  * "HamburgerButton" stylesheet
  * follow workflow instructions
 */

// -----------------------------------------------------------------------------  IMPORT

// common style & mixins
@import '../../../_common/common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.HamburgerButton
{
  // --------------------------------------------------------------------------- PROPERTIES


    // Call block element anywhere. Use it like this : .#{$this}_element
    $this : HamburgerButton;

  // --------------------------------------------------------------------------- BLOCK

  @include size(26px, 26px);
  cursor: pointer;
  outline: 0;

  // --------------------------------------------------------------------------- ELEMENTS


  &_inner
  {
    @include absoluteCenter();
    @include size(26px, 1em);
  }

  &_line
  {
    display: block;
    position: absolute;
    @include size(100%, 2px);
    background: $blackColor;
    border-radius: 1em;

    &-top
    {
      top: 0;
    }
    &-center
    {
      opacity: 1;
      @include absoluteCenter();
    }
    &-bottom
    {
      bottom: 0;
    }

  }


  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES

}



