/**
  * "MainFooter" stylesheet
  * follow workflow instructions
 */

// -----------------------------------------------------------------------------  IMPORT

// common style & mixins
@import '../../../_common/common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.MainFooter
{
  // IMPORTANT : composant mobile first
  // --------------------------------------------------------------------------- PROPERTIES

  // Call block element anywhere. Use it like this : .#{$this}_element
  $this : MainFooter;

  // --------------------------------------------------------------------------- BLOCK

  @include position(relative, null 0 0 0);
  @include size(100%, 100%);
  background: $whiteColor;

  // --------------------------------------------------------------------------- ELEMENTS

  &_wrapper
  {
    background: $grey77Color;
  }

  &_wrapperOuter
  {
    padding: $mainBorder 0;
    @include size(100%, 30rem);
  }

  &_wrapperInner
  {
    position: relative;
    @include contentColumnWidthCenter();
  }

  &_rowSection
  {
    @media (min-width: $large)
    {
      position: relative;
      @include flex(flex, row, wrap, flex-start, flex-start,1rem);
    }
  }

  // ---------------------- Les sections

  &_contactSection
  {
    @media (min-width:$large)
    {
      @include flexCol(2,1,1rem,false);
    }
  }

  &_suscribeNewsletterSection
  {
    padding-top: 2rem;
    @media (min-width:$large)
    {
      // reset
      padding-top: 0;
      @include flexCol(2,1,1rem,false);
    }
  }

  &_creditsSection
  {

  }

  // ---------------------- les éléments de section

  &_items
  {
    list-style: none;
    display: block;
  }

  &_item
  {
    &:not(:last-child)
    {
      &:after
      {
        content:'';
        display: block;
        @include size(10px, 1px);
        background: $whiteColor;
        position: relative;
        margin:10px 0;
      }
    }

    &-credits .#{$this}_subItem:not(:last-child)
    {
      margin-right: 10px;
    }
  }

  &_subItems
  {
    list-style: none;
  }

  &_subItem
  {

  }

  &_link
  {
    color: $whiteColor;
    text-decoration: none;
  }

  &_address
  {
    position: relative;
    display: inline-block;
    color: $whiteColor;
    text-decoration: none;
  }


  &_suscribeNewsletter
  {

  }




  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES

}



